* {
  font-family: Helvetica, Arial, sans-serif;
  color: dimgrey;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-flow: column;
  grid-auto-flow: row;
  background: darkgrey;
}

.box {
  background: darkgrey;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: grey;
  /*transition: all .4s;*/
}
.box:hover {
  box-shadow: 2px 2px 40px 10px rgba(0, 0, 0, .2);
}

/*@media screen and (max-width: 600px) {
  .box {
    height: 50px;
    width: 50px;
  }
}*/


.message {
  grid-area: message;
  background-color: mintcream;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  justify-content:center;
  text-align: center;
  flex-direction: column;
}

.start-button {

  border-radius: 10px;
  background-color: orangered;
  color: mintcream;
  padding: 20px;
  font-size: 20px;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition: .3s;
}

.start-button:hover {
  transform: translate(10px) rotate(10deg);
  transition: .4s;
}

.retry-button {
  background-color: gold;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition: all 1s;
}

.retry-button:hover {
  background-color: springgreen;
}


.overlay {
  top: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(10, 68, 91, 0.7);
  display: grid;
  grid-template-columns: 1fr minmax(300px, 500px) 1fr;
  grid-template-rows: 1fr 300px 1fr;
  grid-template-areas:
  ".   .     ."
  ". message ."
  ".   .     .";
}
.overlay.hiddenOverlay {
  top: -100vh;

}

.congrats {
  z-index: 1;
  transition: all 1s;
  bottom: -100vh;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(10, 68, 91, 0.7);
  display: grid;
  grid-template-columns: 1fr minmax(300px, 500px) 1fr;
  grid-template-rows: 1fr 300px 1fr;
  grid-template-areas:
  ".   .     ."
  ". message ."
  ".   .     .";
}
.congrats.hiddenCongrats {
  bottom: 0;
  background-image: url('congrats.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.reset {
  height: 100px;
  width: 100px;
  display: flex;
  border-radius: 10px;
  font-weight: 800;
  font-size: 1em;
  border: none;
  color: transparent;
  justify-content: center;
}
