

.box {
  background: grey;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: grey;
  /*transition: all .4s;*/
}
.box:hover {
  box-shadow: 2px 2px 40px 10px rgba(0, 0, 0, .2);
}

/*@media screen and (max-width: 600px) {
  .box {
    height: 50px;
    width: 50px;
  }
}*/
.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-flow: column;
  grid-auto-flow: row;
  background: grey;
}

.reset {
  background-color: grey;
  height: 100px;
  width: 100px;
  display: flex;
  border-radius: 10px;
  font-weight: 800;
  font-size: 1em;
  border: none;
  color: transparent;
  display: flex;
  justify-content: center;
}
