body {
  margin: 0;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}
.box {
  background: grey;
  border-radius: 5px;
  height: 100px;
  width: 100px;
}
.box:hover {
  box-shadow: 2px 2px 40px 10px rgba(0, 0, 0, 0.2);
}

.wrapper {
  display: flex;
  background: grey;
}

/*.reset {
  background-color: grey;
  height: 6.5em;
  width: 6.5em;
  display: flex;
  border-radius: 10px;
  font-weight: 800;
  font-size: 1em;
  border: none;
  color: transparent;
  display: flex;
  justify-content: center;
}*/
